.like-button {
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
}

.like-button svg {
  fill: var(--color-like-button);
  transition: fill 0.2s ease-in-out;
}

.like-button:hover svg {
  fill: var(--color-like-button-hover);
}

.like-button.is-favorite svg {
  fill: #e53e3e;
}
