@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

:root {
  /* -----> Colors */

  /* Green */
  --color-green: hsla(98, 52%, 54%, 70%);

  /* Neutrals */
  --color-gray-200: hsla(195, 22%, 93%, 1);
  --color-gray-800: hsla(206, 7%, 45%, 1);
  --color-gray-900: hsla(204, 9%, 32%, 1);

  /* Black */
  --color-black: hsla(221, 39%, 11%, 1);

  /* White */
  --color-white: hsl(0, 0%, 100%);

  /* -----> Font family */
  --font-primary: "Onest", sans-serif;

  /* -----> Font size */
  --font-14: 14px;
  --font-16: 16px;
  --font-18: 18px;
  --font-24: 24px;

  /* -----> Spacing */
  --space-4: 4px;
  --space-6: 6px;
  --space-10: 10px;
  --space-12: 12px;
  --space-16: 16px;
  --space-20: 20px;
  --space-30: 30px;
  --space-40: 40px;
  --space-400: 400px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-primary);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.outlet-container {
  margin-bottom: 50px;
}

/* --- RESET PARA BOTONES --- */
button {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;

  border: none;
  outline: none;

  font-family: inherit;
  font-size: var(--font-16);
  color: inherit;

  padding: 0;
  margin: 0;
  cursor: pointer;
}

/*--- RESET LINK REACT ROUTER ---*/
.pokemon-card-link {
  text-decoration: none;
  color: inherit;
}
